{{define "head"}}
    <style>
        hr{ border: 1px #ccc dashed;}
        .themed-grid-col{
            padding-top: .75rem;
            padding-bottom: .75rem;
            background-color: rgba(86, 61, 124, .15);
            border: 1px solid rgba(86, 61, 124, .2);
        }
        .bad-grid-col{
            padding-top: .75rem;
            padding-bottom: .75rem;
            background-color: rgba(200, 61, 61, .15);
            border: 1px solid rgba(200, 61, 61, .2);
        }
        .average-grid-col{
            padding-top: .75rem;
            padding-bottom: .75rem;
            background-color: rgba(200, 200, 61, .15);
            border: 1px solid rgba(200, 200, 61, .2);
        }
        .good-grid-col{
            padding-top: .75rem;
            padding-bottom: .75rem;
            background-color: rgba(63, 200, 61, .15);
            border: 1px solid rgba(63, 200, 61, .2);
        }
        .morning-shift-grid-col{
            padding-top: .75rem;
            padding-bottom: .75rem;
            background-color: rgba(61, 195, 200, .15);
            border: 1px solid rgba(61, 195, 200, .2);
        }
        .evening-shift-grid-col{
            padding-top: .75rem;
            padding-bottom: .75rem;
            background-color: rgba(61, 80, 200, .15);
            border: 1px solid rgba(61, 80, 200, .2);
        }
        .work-day-grid-col{
            padding-top: .75rem;
            padding-bottom: .75rem;
            background-color: rgba(61, 195, 200, .15);
            border: 1px solid rgba(61, 195, 200, .2);
        }
        .day-off-grid-col{
            padding-top: .75rem;
            padding-bottom: .75rem;
            background-color: rgba(61, 80, 200, .15);
            border: 1px solid rgba(61, 80, 200, .2);
        }
    </style>

{{end}}

{{define "content"}}
    <div class="container">
        <p class="h1">{{.pageName}}</p>
    </div>
    <div class="container">
        <div class="row mb-3">
            <div class="col-2 themed-grid-col">Фамилия</div>
            <div class="col-1 {{index .dataTable.HeaderColor 0}}">Неделя</div>
            <div class="col-1 {{index .dataTable.HeaderColor 1}}">ПН</div>
            <div class="col-1 {{index .dataTable.HeaderColor 2}}">ВТ</div>
            <div class="col-1 {{index .dataTable.HeaderColor 3}}">СР</div>
            <div class="col-1 {{index .dataTable.HeaderColor 4}}">ЧТ</div>
            <div class="col-1 {{index .dataTable.HeaderColor 5}}">ПТ</div>
            <div class="col-1 {{index .dataTable.HeaderColor 6}}">СБ</div>
            <div class="col-1 {{index .dataTable.HeaderColor 7}}">ВС</div>
        </div>
        {{range $dataRow := .dataTable.Data}}
            <div class="row{{if $dataRow.User.LastInGroup}} mb-3{{- end}}">
                <div class="col-2 {{$dataRow.User.WorkShiftColor}}">{{$dataRow.User.LastName}}</div>
                {{range $TA := $dataRow.TimeAccounted}}
                    <div class="col-1 {{$TA.Color}}">{{$TA.Time}}{{if $TA.IsOverTimeExists}} (+{{$TA.Overtime}}){{end}}</div>
                {{end}}
            </div>
        {{end}}
    </div>
    <div class="container">
        <p>Get data at {{.pageOpenTime}}</p>
        <p>Легенда:</p>
    </div>
{{end}}